{% extends 'base.html' %}
{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>single blog</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>{{ single_blog.title }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"> {{ single_blog.blog_date|date:"d M Y"}}</a></li>
                        </ul>
                        <p class="excert"> {{ single_blog.content }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->

{% endblock content %}